*{
    margin:0;
    padding:0;
}
a:link{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
    cursor:pointer;
}
.bgimg{
    width:1900px;
    height:980px;
    position:relative;
    background-image: url('https://www.usatoday.com/gcdn/-mm-/05b227ad5b8ad4e9dcb53af4f31d7fbdb7fa901b/c=0-64-2119-1259/local/-/media/USATODAY/USATODAY/2014/08/13/1407953244000-177513283.jpg');
    background-size:cover;
}